{
    Name = "Perl Script";
    Extensions = ( "pl", "pm" );
    MagicWord = (
	"#!/bin/perl",
	"#! /bin/perl",
	"#!/usr/bin/perl",
	"#! /usr/bin/perl",
	"#!/usr/local/bin/perl",
	"#! /usr/local/bin/perl",
    );
    MIMETypes = (
	"text/x-perl-script"
    );
    SingleLineComment = ( "#" );
    String = (
	( "\"", "\"" )
    );
    Character = (
	( "'", "'" )
    );
    IdentifierStartChars = "$@_";
    IdentifierChars = "_";
    EscapeCharacter = "\\";
    Keywords = (
		"and",
		"defined",
		"do",
		"each",
		"else",
		"elsif",
		"die",
		"do",
		"eval",
		"exec",
		"exists",
		"for",
		"foreach",
		"ge",
		"glob",
		"gt",
		"goto",
		"if",
		"import",
		"int",
		"last",
		"lc",
		"lcfirst",
		"le",
		"lt",
		"my",
		"ne",
		"new",
		"next",
		"no",
		"or",
		"pop",
		"print",
		"redo",
		"ref",
		"return",
		"scalar",
		"shift",
		"sub",
		"unshift",
		"use",
		"while",
    );
    AltKeywords = (
	"abs",
	"accept",
	"alarm",
	"atan2",
	"bind",
	"binmode",
	"bless",
	"caller",
	"chdir",
	"chmod",
	"chomp",
	"chop",
	"chown",
	"chr",
	"chroot",
	"close",
	"closedir",
	"cmp",
	"connect",
	"cos",
	"crypt",
	"dbmclose",
	"dbmopen",
	"delete",
	"dump",
	"eof",
	"eq",
	"exit",
	"exp",
	"fcntl",
	"fileno",
	"flock",
	"fork",
	"format",
	"formline",
	"getc",
	"getgrent",
	"getgrgid",
	"getgrnam",
	"gethostbyaddr",
	"gethostbyname",
	"gethostent",
	"getlogin",
	"getnetbyaddr",
	"getnetbyname",
	"getnetent",
	"getpeername",
	"getpgrp",
	"getppid",
	"getpriority",
	"getprotobyname",
	"getprotobynumber",
	"getprotoent",
	"getpwent",
	"getpwnam",
	"getpwuid",
	"getservbyname",
	"getservbyport",
	"getservent",
	"getsockname",
	"getsockopt",
	"glob",
	"gmtime",
	"grep",
	"hex",
	"index",
	"ioctl",
	"join",
	"keys",
	"kill",
	"length",
	"link",
	"listen",
	"local",
	"localtime",
	"log",
	"lstat",
	"map",
	"mkdir",
	"msgctl",
	"msgget",
	"msgrcv",
	"msgsnd",
	"oct",
	"open",
	"opendir",
	"ord",
	"pack",
	"package",
	"pipe",
	"pos",
	"printf",
	"push",
	"quotemeta",
	"rand",
	"read",
	"readdir",
	"readlink",
	"recv",
	"rename",
	"require",
	"reset",
	"reverse",
	"rewinddir",
	"rindex",
	"rmdir",
	"seek",
	"seekdir",
	"select",
	"semctl",
	"semget",
	"semopt",
	"send",
	"setpgrp",
	"setpriority",
	"setsockopt",
	"shmctl",
	"shmget",
	"shmread",
	"shmwrite",
	"shutdown",
	"sin",
	"sleep",
	"socket",
	"socketpair",
	"sort",
	"splice",
	"split",
	"sprintf",
	"sqrt",
	"srand",
	"stat",
	"study",
	"substr",
	"symlink",
	"syscall",
	"sysopen",
	"sysread",
	"system",
	"syswrite",
	"tell",
	"telldir",
	"tie",
	"tied",
	"time",
	"times",
	"tr",
	"truncate",
	"uc",
	"ucfirst",
	"umask",
	"undef",
	"unless",
	"unlink",
	"unpack",
	"unshift",
	"untie",
	"utime",
	"values",
	"vec",
	"wait",
	"waitpid",
	"wantarray",
	"warn",
	"write",
	"__FILE__",
	"__LINE__",
	"__END__",
	"__DATA__"
    );
}
