{
    Name = "Fortran";
    Extensions = ( "f", "for", "f77", "f90" );
    CaseSensitive = NO;
    FortranStyleComments = YES;
    IdentifierStartChars = "_"; // not really sure about these
    IdentifierChars = "$_";	// not really sure about these
    SingleLineComment = (
	"!"
    );
    Keywords = (
	"allocatable",
	"allocate",
	"assign",
	"backspace",
	"block",
	"call",
	"character",
	"close",
	"common",
	"complex",
	"contains",
	"continue",
	"cycle",
	"data",
	"deallocate",
	"dimension",
	"do",
	"double",
	"else",
	"elseif",
	"end",
	"enddo",
	"endfile",
	"endif",
	"entry",
	"equivalence",
	"exit",
	"external",
	"extrinsic",
	"forall",
	"format",
	"function",
	"global",
	"goto",
	"if",
	"implicit",
	"include",
	"inquire",
	"integer",
	"intent",
	"interface",
	"intrinsic",
	"logical",
	"module",
	"namelist",
	"nullify",
	"open",
	"optional",
	"parameter",
	"pause",
	"pointer",
	"precision",
	"print",
	"private",
	"program",
	"public",
	"pure",
	"read",
	"real",
	"recursive",
	"record",
	"return",
	"rewind",
	"save",
	"sequence",
	"stop",
	"structure",
	"subroutine",
	"target",
	"then",
	"use",
	"where",
	"while",
	"write",
	"assignment",
	"case",
	"default",
	"elsewhere",
	"go",
	"none",
	"operator",
	"procedure",
	"select",
	"to",
	"type",
	"union",
	"endstructure",
	"endunion",
	"map",
	"endmap",
	"string"
    );
}
