{
    Name = "AppleScript";
    Extensions = ( "applescript" );
    CaseSensitive = NO;
    MultiLineComment = (
	( "(*", "*)" ),
	( "{", "}" )
    );
    CommentsCanBeNested = YES;
    String = (
	( "\"", "\"" )
    );
    SingleLineComment = (  "--" );
    IdentifierStartChars = "_$'";
    IdentifierChars = "_$'";
    Keywords = (
	"a",
	"after",
	"all",
	"and",
	"anything",
	"application",
	"apr",
	"april",
	"as",
	"ask",
	"at",
	"aug",
	"august",
	"back",
	"before",
	"begin",
	"begins",
	"bold",
	"but",
	"by",
	"caps",
	"case",
	"center",
	"close",
	"come",
	"comes",
	"condensed",
	"considering",
	"contain",
	"contained",
	"contains",
	"continue",
	"copy",
	"count",
	"current",
	"data",
	"days",
	"dec",
	"december",
	"delete",
	"diacriticals",
	"div",
	"does",
	"doesn't",
	"duplicate",
	"each",
	"eighth",
	"else",
	"end",
	"ends",
	"equal",
	"equals",
	"error",
	"every",
	"exists",
	"exit",
	"expanded",
	"expansion",
	"false",
	"feb",
	"february",
	"fifth",
	"first",
	"fourth",
	"fri",
	"friday",
	"from",
	"front",
	"full",
	"get",
	"given",
	"global",
	"greater",
	"hidden",
	"hours",
	"hyphens",
	"id",
	"if",
	"ignoring",
	"in",
	"index",
	"into",
	"is",
	"isn't",
	"it",
	"italic",
	"jan",
	"january",
	"jul",
	"july",
	"jun",
	"june",
	"last",
	"launch",
	"left",
	"less",
	"local",
	"lowercase",
	"make",
	"mar",
	"march",
	"may",
	"me",
	"middle",
	"minutes",
	"missing",
	"mod",
	"mon",
	"monday",
	"month",
	"move",
	"my",
	"named",
	"nd",
	"new",
	"ninth",
	"no",
	"not",
	"nov",
	"november",
	"number",
	"oct",
	"october",
	"of",
	"on",
	"open",
	"or",
	"outline",
	"partial",
	"pi",
	"plain",
	"print",
	"prop",
	"properties",
	"property",
	"punctuation",
	"put",
	"quit",
	"rd",
	"reference",
	"reopen",
	"repeat",
	"responses",
	"result",
	"return",
	"returning",
	"right",
	"run",
	"sat",
	"saturday",
	"save",
	"saving",
	"script",
	"second",
	"sep",
	"september",
	"set",
	"seventh",
	"shadow",
	"sixth",
	"size",
	"small",
	"some",
	"space",
	"st",
	"start",
	"starts",
	"strikethrough",
	"subscript",
	"sun",
	"sunday",
	"superscript",
	"tab",
	"tell",
	"tenth",
	"terms",
	"th",
	"than",
	"then",
	"third",
	"through",
	"thru",
	"thu",
	"thursday",
	"timeout",
	"to",
	"transaction",
	"true",
	"try",
	"tue",
	"tuesday",
	"underline",
	"using",
	"value",
	"version",
	"wed",
	"wednesday",
	"weekday",
	"weeks",
	"where",
	"white",
	"whose",
	"with",
	"without",
	"yes"
   );
}
